
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
  font-family: 'Abel', sans-serif;
}
/*estilo del logo en el header*/
header div img {
  width: 250px;
  margin-left: 50px;
}

header div {
  display: flex;
  flex-grow: 1;
  flex-basis: 0px;
}

.navbar a:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
.navLogin {
  margin-right: 80px;
}
.navLogin .login{
  padding: 8px 15px;
  border: 1px solid #fafafa;
  border-radius: 3px;
  margin: 0px 10px;
}
.navLogin .login:hover{
  box-shadow: 0 0 15px 9px #00000015;
  transform: scale(1.12);
	transition: transform 0.2s ease-in-out;
}
.navLogin .signUp{
  padding: 8px 15px;
  border: 1px solid #fafafa;
  border-radius: 3px;
  margin: 0px 10px;
  background-color: whitesmoke;
  color: rgb(3, 102, 132);
}
.navLogin .signUp:hover{
  box-shadow: 0 0 15px 9px #00000015;
  transform: scale(1.12);
	transition: transform 0.2s ease-in-out;
}

/*Quitar viñetas de las listas*/
header ul {
  list-style: none;
  display: flex;
}

header nav ul li a {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*estilo del header*/
header {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  /*position: fixed;*/
  width: 100%;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  
  background-color: rgb(3, 102, 132);
  font-weight: 500;
  font-size: 16px;
}

body {
  margin: 0px;
}

.seccion1{
  position: relative;
  background: url('../imagenes/fondo.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 90%;
}
.divFondoBlurSection1{
  backdrop-filter: blur(9px);
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.divFondoColorSection1{
  background-color: rgb(3, 102, 132);
  opacity: 45%;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.divTextoSection1{
  width: 55%;
  height: 35%;
  opacity: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}
.divTextoSection1 h1{
  font-size: 30px;
}

a{
  text-decoration: none;
}
.eligeAventura{
  text-decoration: none;
  background-color: #81c015;
  color: whitesmoke;
  border: none;
  padding: 10px 50px;
  font-size: 19px;
  &:hover{
    background-color: #9bea11;
    transition: background-color 0.2s ease-in-out;
  }
}
.ConteligeAventura{
  text-align: center;
  position: relative;
  top: 72%;
}
.seccion2{
  position: relative;
  width: 100%;
  height: 400px;
  display: grid;
  background-color: rgb(230, 230, 230);
}

.seccion2 .textLeft {
  text-align: center;
  padding: 50px 160px 10px;
  grid-column: 1;
  grid-row: 1;
  font-weight: lighter;
  font-size: 17px;
}
.seccion2 .textLeft a {
  background-color: rgb(3, 102, 132);
  padding: 15px 40px;
  color: whitesmoke;
  font-size: 19px;
  margin-top: 50px;
  &:hover{
    background-color: rgb(7, 159, 205);
    transition: background-color 0.2s ease-in-out;     
  }
}
.seccion2 .cardsRight{
  grid-column: 2;
  grid-row: 1;
  display: grid;
  padding-right: 50px;
  
}

.seccion2 .cardsRight .izq{
  grid-column: 1;
  grid-row: 1;
  padding: 10px 10px;
  display: grid;
  row-gap: 0;
  &:hover{
    box-shadow: 0px 0px 10px 5px #00000015 ;
    transition: box-shadow 0.5s ease-in-out;
    &>h4,&>h3,&>div{
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
  
}
.seccion2 .cardsRight .centro{
  grid-column: 2;
  grid-row: 1;
  padding: 10px 10px;
  display: grid;
  row-gap: 0;
  &:hover{
    box-shadow: 0px 0px 10px 5px #00000015 ;
    transition: box-shadow 0.5s ease-in-out;
    &>h4,&>h3,&>div{
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
}
.seccion2 .cardsRight .der{
  grid-column: 3;
  grid-row: 1;
  padding: 10px 10px;
  display: grid;
  row-gap: 0;
  &:hover{
    box-shadow: 0px 0px 10px 5px #00000015 ;
    transition: box-shadow 0.5s ease-in-out;
    &>h4,&>h3,&>div{
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
}
.seccion2 .cardsRight * img{
  width: 110px;
  padding: 15px 10px; 
}

.seccion2 .cardsRight * h3{
  text-align: center;
  padding: 0px 5px;
  margin: 0;
}
.seccion2 .cardsRight * h4{
  text-align: center;
  padding: 0px 5px;
  margin: 0;
}

.seccion3{
  position: relative;
  width: 100%;
  height: 700px;
}
.seccion3 h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}
.seccion3 .container1{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px;
  padding: 0px;
}
.seccion3 .container2{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px;
  padding: 0px;
}
.seccion3 .container2 .izq,.seccion3 .container2 .centro,.seccion3 .container2 .der{
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr auto;
}

.seccion3 * img{
  position: relative;
  width: 350px;
  padding: 0px;
  margin: 0 auto;
  padding-top: 25px;
  &:hover{
    transform: scale(1.12);
		transition: transform 0.2s ease-in-out;
  }
}

.seccion3 * h3{
  padding: 0px 50px;
  text-align: center;
  margin: 30px 10px;
}
.seccion3 a {
  background-color: rgb(3, 102, 132);
  padding: 15px 40px;
  color: whitesmoke;
  font-size: 19px;
  margin:auto;
  grid-column: 1;
  grid-row: 3;
  vertical-align: bottom;
  &:hover{
    background-color: rgb(7, 159, 205);
    transition: background-color 0.2s ease-in-out;     
  }
}


.footer{
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgb(3, 102, 132);
  text-align: center;
  z-index: -1;
}

.footer h2{
  position: relative;
  color: white;
  bottom: 0px;
  
}

.parteAbajo{
  position: relative;
  width: 100%;
  height: 200px;
  background-color:#000000;
}

.parteAbajo h2{
  position: absolute;
  text-align: center;
  color: white;
  bottom: 0px;
  left: 22%;
}



.main{
  position: relative;
  width: 100%;
  height: 700px;
  font-family: 'Belanosima', sans-serif;
}


/* Estilos para la sección de contacto */
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.contact-info {
  text-align: center;
  margin-right: 130px;
}

.contact-image {
  width: 500px;
  height: auto;
  margin-bottom: 0px;
}

.contact-form {
  text-align: center;
  overflow: hidden;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form form {
  display: grid;
  gap: 20px;
}

.contact-form label {
  display: block;
  font-size: large ;
  font-weight: bold;
}
.contact-form select {
  font-size: medium;
  width: fit-content;
}
.contact-form #imagenDestino {
  font-size: medium;
  width: fit-content;
}
.contact-form input{
  width: 100%;
  padding: 3px;
}
.contact-form textarea {
  width: 100%;
  padding: 3px;
  height: 15%;
  font-size: medium;
}

.formSugerencia{
  margin: 1% 20%;
  background-color: rgb(236, 236, 236);
}
.enviarBtn{
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 19px;
  &:hover{
    background-color: #464646;
    transition: background-color 0.2s ease-in-out;
  }
}

/* Fotos*/
.outfit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.outfit {
  width: 300px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.outfit img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.outfit h2 {
  margin: 0;
  font-size: 18px;
}

.outfit p {
  margin: 0;
  color:#ddd;
}
/*----------------------------------------------*/

.topSeccion{
  position: relative;
  width: 100%;
  height: 300px;
}

.topImage{
  position: relative;
  background: url('../imagenes/background.jpg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  width: 80%;
  height: 250px;
  margin: 0 auto;
  z-index: -1;
}

.logoTop{
  position: relative;
  background: url('../imagenes/favicon2.png');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  width: 90px;
  height: 70px;
  left: 47%;
  top: -10%;
  border-radius: 90%;
  backdrop-filter: blur(2px);
  z-index: 1;
}

.destinosSeccion1{
  position: relative;
  width: 100%;
  height: 300px;
}
.destinosSeccion1 .container1{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px;
  padding: 0px;
}
.destinosSeccion1 h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}
.parrafoDestinos{
  text-align: center;
  padding: 5px 150px;
  font-size: 30px;
}

.separador{
  background-color: rgb(10, 135, 173);
  padding: 30px;
  text-align: center;
  font-size: 27px;
  color: white;
  margin: 0px;
}

.destinosSeccionLugares{
  position: relative;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.destinosSeccionLugares .right{
  position: relative;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.destinosSeccionLugares .left{
  position: relative;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.destinosSeccionLugares .imageDestinos1{
  width: 600px;
  height: 350px;
  margin: 50px auto;
  background: url(https://magazine.velasresorts.com/wp-content/uploads/2020/07/Sayulita-1.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow: 0px 0px 20px #8a8a8a;
}
.destinosSeccionLugares .imageDestinos2{
  width: 600px;
  height: 350px;
  margin: 50px auto;
  background: url(https://topadventure.com/__export/1631640069862/sites/laverdad/img/2021/09/14/san_blasx_nay.jpg_547047695.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow: 0px 0px 20px #8a8a8a;
}
.destinosSeccionLugares .imageDestinos3{
  width: 600px;
  height: 350px;
  margin: 50px auto;
  background: url(https://www.lugaresturisticosenmexico.com/wp-content/uploads/2022/05/Tepic-Nayarit.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow: 0px 0px 20px #8a8a8a;
}
.destinosSeccionLugares .imageDestinos4{
  width: 600px;
  height: 350px;
  margin: 50px auto;
  background: url(https://www.corazondenayarit.com/wp-content/uploads/2019/05/isla-del-coral-guayabitos-nayarit.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow: 0px 0px 20px #8a8a8a;
}
.destinosSeccionLugares .imageDestinos5{
  width: 600px;
  height: 350px;
  margin: 50px auto;
  background: url(https://cdn.forbes.com.mx/2022/02/Isla-de-mexicatitlan-640x360.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow: 0px 0px 20px #8a8a8a;
}
.destinosSeccionLugares .imageDestinos6{
  width: 600px;
  height: 350px;
  margin: 50px auto;
  background: url(https://www.mexicodesconocido.com.mx/wp-content/uploads/2010/07/punta-mita-nayarit-mexico-flickr-drosan-rem.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow: 0px 0px 20px #8a8a8a;
}
.destinosSeccionLugares h1{
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
  margin: 75px auto 0px;
}

.destinosSeccionLugares p{
  font-size: 20px;
  text-align: justify;
  padding: 0px 50px;
}
.destinosSeccionLugares a{
  color: white;
  background-color: #e27435;
  padding: 15px 40px;
  font-size: 19px;
}
.destinosSeccionLugares .btn{
  position: relative;
  margin: 0 auto;
}
.agregarDestinoBtn{
  position: relative;
  text-align: center;
  margin: 0 auto;
}

/*-----------------------------------------*/
.seccion1Sayulita{
  position: relative;
  background: url('../destinos/imagenes/sayulita/sayulita.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 90%;
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.831);
  display: grid;
}

.seccion1Sayulita h1{
  text-align: center;
  color: whitesmoke;
  font-size: 6rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  margin-bottom: 0;
}
.seccion1Sayulita h3{
  text-align: center;
  color: whitesmoke;
  font-size: 1.5rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  text-align: center;
  margin: 0 15rem;
}
.seccion1SanBlas{
  position: relative;
  background: url('../destinos/imagenes/sanblas/sanblas.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 90%;
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.831);
  display: grid;
}

.seccion1SanBlas h1{
  text-align: center;
  color: whitesmoke;
  font-size: 6rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  margin-bottom: 0;
}
.seccion1SanBlas h3{
  text-align: center;
  color: whitesmoke;
  font-size: 1.5rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  text-align: center;
  margin: 0 15rem;
}
.seccion1Tepic{
  position: relative;
  background: url('../destinos/imagenes/Tepic/tepic.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 90%;
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.831);
  display: grid;
}

.seccion1Tepic h1{
  text-align: center;
  color: whitesmoke;
  font-size: 6rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  margin-bottom: 0;
}
.seccion1Tepic h3{
  text-align: center;
  color: whitesmoke;
  font-size: 1.5rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  text-align: center;
  margin: 0 15rem;
}
.seccion1Guayabitos{
  position: relative;
  background: url('../destinos/imagenes/RinconGuayabitos/guayabitos.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 90%;
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.831);
  display: grid;
}

.seccion1Guayabitos h1{
  text-align: center;
  color: whitesmoke;
  font-size: 6rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  margin-bottom: 0;
}
.seccion1Guayabitos h3{
  text-align: center;
  color: whitesmoke;
  font-size: 1.5rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  text-align: center;
  margin: 0 15rem;
}
.seccion1Mexcal{
  position: relative;
  background: url('../destinos/imagenes/mexcaltitan/mexcaltitan.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 90%;
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.831);
  display: grid;
}

.seccion1Mexcal h1{
  text-align: center;
  color: whitesmoke;
  font-size: 6rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  margin-bottom: 0;
}
.seccion1Mexcal h3{
  text-align: center;
  color: whitesmoke;
  font-size: 1.5rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  text-align: center;
  margin: 0 15rem;
}
.seccion1PuntaMita{
  position: relative;
  background: url('../destinos/imagenes/PuntaMita/punta-de-mita.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 90%;
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.831);
  display: grid;
}

.seccion1PuntaMita h1{
  text-align: center;
  color: whitesmoke;
  font-size: 6rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  margin-bottom: 0;
}
.seccion1PuntaMita h3{
  text-align: center;
  color: whitesmoke;
  font-size: 1.5rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.773);
  text-align: center;
  margin: 0 15rem;
}

.grid_gal figure {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.grid_gal figure:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/3;
}
.grid_gal figure:nth-child(2) {
  grid-column: 3/4;
}
.grid_gal figure:nth-child(3) {
  grid-column: 4/6;
}
.grid_gal figure:nth-child(4) {
  grid-column: 3/5;
}
.grid_gal figure:nth-child(n+6) {
  display: none;
}
.grid_gal figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: .5s;
  
}
.grid_gal figure:hover img {
  transform: scale(1.1);
}

.grid_gal {
  display: grid;
  grid-template-rows: 8em 11em;
  grid-template-columns: .3fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  position: relative;
  width: 70%;
  height: 100%;
  margin: 20px auto 10px auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

.separadorD{
  
  background-image: url('../destinos/imagenes/separador.jpg');
  background-size: contain;
  background-position: center;
  padding: 30px;
  text-align: center;
  font-size: 27px;
  color: white;
  margin: 0px;
}
/*Para ver las imagenes maximizadas*/
.modal{
  display: none;
}
.modal:target{
  display: block;
  position: fixed;
  background-color: #000000f0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.imagen{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen a{
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin: 0 50px;
  
}

.imagen a:nth-child(2){
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}
.imagen img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.cerrar{
  display: block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;
}
/*PARA EL WIDGET DEL CLIMA*/

#widgetClima {
  text-align: center;
  
}

#widgetClima #caja1, #caja2, #caja3 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 20%;
  width: 7rem;
  height: 7rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
#icono-animado{
  width: 4rem;
  height: 4rem;
}
#widgetClima #caja1 {
  background-color: rgba(0,0,0,0.767);
  color:azure;    
}
#widgetClima #caja2 {
  background-color: darkslateblue;
  color:azure;    
}
#caja2 h5{
  margin-bottom: 0;
}
#widgetClima #caja3 {
  background-color: #2ab2ea;
  color:azure;    
}
/*seccion de atractivos*/
.seccion2Destinos{
  position: relative;
  width: 100%;
  height: 150px;
}
.seccion2Destinos .container1{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px;
  padding: 0px;
}
.seccion2Destinos h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}

:root {
  --primary: #cc3f65;
  --secondary: #0044b4
}

* {
  box-sizing: border-box
}

a,
.has_animation {
  transition: all .5s ease-out
}

.item {
  position: relative;
  overflow: hidden
}

.item figure {
  position: absolute;
  width: 100%;
  height: 100%
}

.item figure img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover
}

.item figure b {
  line-height: 35px;
  display: block;
  box-shadow: none;
  position: absolute;
  top: 0;
  font-size: .8em;
  color: #fff;
  padding: 0 20px;
  left: 0;
  z-index: 2;
  font-weight: 900
}

.item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 60px 30px 20px;
  color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.8) 80%);
  text-shadow: 0 0 20px rgba(0, 0, 0, .7);
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.6em
}

.grid_items {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 70%;
  grid-gap: 20px;
  margin: 0 auto 50px;
}

.grid_items.small {
  grid-template-rows: 13em
}

.grid_items>* {
  box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
  min-height: 200px
}

.grid_items .item:nth-child(1) {
  grid-row: 1/3
}

.grid_items .item:hover {
  transform: scale(1.02);
  z-index: 1
}

.grid_items.small .item:nth-child(1) {
  grid-row: 1
}

.grid_items.small .item:nth-child(3) {
  display: none
}

.grid_items.items_1 {
  grid-template-columns: 1fr 1fr 1fr
}

.grid_items.items_1 .item {
  grid-column: 2;
  height: 270px
}

.grid_items.items_2 {
  grid-template-columns: 1fr 1fr 1fr 1fr
}

.grid_items.items_2 .item {
  grid-column: 2;
  height: 270px;
  grid-row: 1
}

.grid_items.items_2 .item:last-child {
  grid-column: 3
}


.btn_icon {
  background: var(--secondary);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 13% 20px;
  justify-content: center;
  font-weight: 900;
  align-items: center;
}

.btn_icon img {
  display: block;
  width: 100%;
  height: 70px;
  margin: 0 0 10px;
}

/*seccion de historia*/
.historia{
  width: 70%;
  background-color: #eeeeee;
  padding: 10px 8%;
  margin: 10px auto;
  font-size: large;
  box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
}
/*como llegar*/
.maps{
  margin: 10px auto;
  width: 70%;
  display: grid;
}
.mapa{
  margin: auto;
}
.rutaBtn{
  text-decoration: none;
  background-color: #81c015;
  color: whitesmoke;
  border: none;
  padding: 10px 50px;
  font-size: 19px;
  margin: 10px auto;
  &:hover{
    background-color: #9bea11;
    transition: background-color 0.2s ease-in-out;
  }
}


/*Para la seccion de la calificación en comentarios*/
.container{
  position: relative;
  margin: 0 auto 50px;
  width: 40%;
  background: #f3f3f3;
  padding: 20px 30px;
  border: 1px solid #ededed;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: rgb(77, 77, 77);
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #b9b9b9;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
  margin: auto;
  
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "Pésimo";
}
#rate-2:checked ~ form header:before{
  content: "No me gustó";
}
#rate-3:checked ~ form header:before{
  content: "No está mal";
}
#rate-4:checked ~ form header:before{
  content: "Me gustó mucho";
}
#rate-5:checked ~ form header:before{
  content: "Me encantó";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: rgb(110, 110, 110);
  font-weight: 800;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  text-shadow: 0 0 20px #0000003e;
  background-color: #00000000;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #171717;
  border: 1px solid #8b8b8b;
  background: #eeeeee;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #646464;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #e2e2e2;
  outline: none;
  background: #e27435;
  color: #f8f8f8;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #ff8d4b;
}